#scroler {
	background: #0F0724;
	color: white;
	border: 2px solid #42d9f4;
	padding: 20px;
	font-size: 35px;
}


#hat {
	padding: 20px;
	background:#0F0724;
	border: 2px solid #42d9f4;
	margin: 30px;
	color: white;
	font-size: 80px;
}

#content {
	background: #0F0724;
	color: white;
	border: 2px solid #42d9f4;
	margin: 30px;
	padding: 20px;
	font-size: 125px;
}

#scrolera {
     color: white;	
}

* body {
	background: #0F0724;
}